[Unit]
Description=Gmail Notificator Telegram Bot v2
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/gmail_bot_v2
Environment=PYTHONUNBUFFERED=1
ExecStart=/var/www/gmail_bot_v2/venv/bin/python /var/www/gmail_bot_v2/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
