[Unit]
Description=Gmail Notificator Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/gmail_notificator_bot
Environment=PYTHONUNBUFFERED=1
ExecStart=/var/www/gmail_notificator_bot/venv/bin/python /var/www/gmail_notificator_bot/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
